<div class="container mb-2">
    <div class="row justify-content-center mt-3">
        <div class=" d-md-none d-sm-block">
            <div class="btn-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <button type="button" class="btn  btn-primary bg-gray text-dark">Categorias
                </button>
                <button type="button" class="btn  btn-primary  bg-gray text-dark dropdown-toggle dropdown-toggle-split">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['peliculas-carteleras']">Peliculas Cartelera</a>
                <a class="dropdown-item" [routerLink]="['peliculas-destacadas']" >Populares</a>
                <a class="dropdown-item" [routerLink]="['destacadas-kids']">Populares niños</a>
            </div>
        </div>
        <ul class="nav nav-pills  d-md-flex d-none">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['peliculas-carteleras']" routerLinkActive="active" >Peliculas Cartelera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  [routerLink]="['peliculas-destacadas']" routerLinkActive="active">Populares</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['destacadas-kids']"  routerLinkActive="active">Populares pequeños</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet ></router-outlet>
